.flexContainer {
  composes: sideBySideCenter from "@/styles/utils.module.css";
}

/* .text {
  paddig-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
} */

.text {
  /* 垂直方向の中央揃えを強制 */
  align-self: center;
  text-align: left;
  padding: var(--space-md) 0;
}

.title {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.15rem;
}

.subtile {
  font-size: var(--small-heading2);
}